.box{
	background: #ffd89b;
	background: -webkit-linear-gradient(to top, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 10px;
	text-align: center;
	width: 500px;
}
.nm{
	color: white;

}
.profile_picture{
	margin-top: 8px; 
}
hr{
	margin: 8px 0px;
}
.container{
	padding-top: 20px; 
}
